{{#if config.newStyle}}
<section class="status">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="number">
            <h3>{{t "miners.online_miners"}}</h3>
            <div>
              <span>{{format-number model.minersTotal}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.pool_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.model.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.network_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
          </div>
          <div class="number">
            <h3>{{t "home.difficulty"}}</h3>
            <div>
              <span>{{with-metric-prefix stats.difficulty}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{else}}
<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t "miners.total_hashrate"}}: {{format-hashrate model.hashrate}}.</p>
    <strong>{{t "miners.total_miners"}}:</strong> <span class="label label-info">{{model.minersTotal}}</span>
  </div>
</div>
{{/if}}
<div class="container">
  {{#if model.miners}}
  <h3>{{t "miners.miners"}}</h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t "miners.login"}}</th>
          <th>{{t "miners.hashrate"}}</th>
          <th>{{t "miners.last_beat"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "miners.no_miners"}}</h3>
  {{/if}}
</div>
