{{#if config.newStyle}}
<section class="status">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 info-holder">
        <div class="item">
          <div class="desc">
            <h3>{{t "home.min_payout_threshold"}}</h3>
            <p>
              {{PayoutThreshold}} {{config.Unit}}
            </p>
          </div>
        </div>
        <div class="item">
          <div class="desc">
            <h3>Tx Fee</h3>
            <p>
              {{#unless settings.KeepTxFee}}
              0 Gas Fee
              {{else}}
              Only gas fee
              {{/unless}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-paper-plane-o"></i>
          </div>
          <div class="number">
            <h3>{{t "payments.total_payments_sent"}}</h3>
            <div>
              <span>{{format-number model.paymentsTotal fallback='0'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-btc"></i>
          </div>
          <div class="number">
            <h3>Total Paid Amount ({{config.Unit}})</h3>
            <div>
              <span>{{format-number PaymentsAmount fallback='0'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-calculator"></i>
          </div>
          <div class="number">
            <h3>Earn per day ({{config.Unit}}/1GH)</h3>
            <div>
              <span>{{format-number earnPerDay}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{{else}}
<div class="jumbotron">
  <div class="container">
    {{#unless settings.KeepTxFee}}
    <p class="lead">{{t "payments.pay_tx"}}</p>
    {{/unless}}
    <strong>{{t "payments.total_payments_sent"}}:</strong> <span class="label label-info">{{model.paymentsTotal}}</span>
  </div>
</div>
{{/if}}
<div class="container">
  {{#if model.payments}}
  <h3>{{t "payments.latest_payouts"}}</h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t "payments.time"}}</th>
          <th>{{t "payments.amount"}}</th>
          <th>{{t "payments.address"}}</th>
          <th>{{t "payments.txid"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>{{format-number tx.formatAmount}}</td>
            <td>
              <a href="{{config.BlockExplorerAddrLink}}/{{tx.address}}" class="hash" rel="nofollow">{{tx.address}}</a>
            </td>
            <td>
              <a href="{{config.BlockExplorerLink}}/tx/{{tx.tx}}" class="hash" rel="nofollow">{{format-tx tx.tx}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "payments.no_payouts_yet"}}</h3>
  {{/if}}
</div>
